.container {
  display: flex;
  gap: 72px;
  max-width: 1184px;
  margin: 0 auto;
  padding: 40px 64px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex-shrink: 0;
  width: 640px;
}

.image {
  width: 640px;
  height: 512px;
  object-fit: cover;
  border-radius: 14px;
}

.right {
  flex: 1;
}

.titleRow {
  display: flex;
  align-items: baseline;
  gap: 16px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.article {
  font-size: 12px;
  color:var(--color-text-muted);
}

.location {
  font-size: 14px;
  color: var(--color-text-muted);
  margin: 8px 0 16px;
}

.price {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-accent);
  mmargin-left: 24px;
}

.description {
  font-size: 14px;
  line-height: 1.5;
  margin: 0 0 40px;
}

.block {
  margin-bottom: 40px;
}

.blockTitle {
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 20px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
  color: #363535;
}

.right {
  flex: 1;
  background: #fff;
  border-radius: 14px;
  padding: 40px;
}

.listItem {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkIcon {
  color: var(--color-text);
  flex-shrink: 0;
  font-size: 16px;
}

.specIcon {
  color: var(--color-text);
  flex-shrink: 0;
  font-size: 16px;
}